#otp {
  display: block;
  margin: 1rem auto 1rem auto;
  width: 370px;
  padding: 1em 1em;
  border: 1px solid lightgray;
  border-radius: 3px;
}
.btn-access {
  display: block;
  margin: auto;
  padding: 0.5rem 5rem;
  margin-bottom: 5rem;
  font-weight: bold;
  background-color: #00e673;
  border: none;
  border-radius: 3px;
  font-size: 18px;
}
