fieldset {
    border: 1px solid black;

    margin: 2em auto;
    font-size: 20px;
}

fieldset p {
    font-size: 35px;
    text-align: center;
    padding-top: 1.5em;
}

legend {
    width: auto;
    text-align: center;
    font-size: 1rem;
    padding: 0 1rem;
}

.fa-user-circle {
    font-size: 40px;
}

.form-submit {
    width: 40rem;
}

#name {
    display: block;
    margin: 1rem auto 1rem auto;
    padding: 1em 0.5em;
    width: 30rem;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#description {
    display: block;
    padding: 1em 0.5em;
    margin: 1rem auto 1rem auto;
    width: 30rem;

    border: 1px solid lightgray;
    border-radius: 3px;
}

#quantity {
    display: block;
    margin: 1rem auto 1rem auto;
    padding: 1em 0.5em;
    width: 30rem;

    border: 1px solid lightgray;
    border-radius: 3px;
}

#price {
    display: block;
    margin: 1rem auto 1rem auto;
    width: 30rem;
    border: 1px solid lightgray;
    border-radius: 3px;
    height: 3rem;
}

#image {
    display: block;
    margin: 0 auto 1rem auto;
    width: 30rem;
    border: 1px solid lightgray;
    border-radius: 3px;
}



.btn-log {
    display: block;
    margin: auto;
    padding: 0.5rem 7.5rem;
    margin-bottom: 5rem;
    font-weight: bold;
    background-color: #00e673;
    border: none;
    border-radius: 3px;
    height: 3rem;
}

.btn-c {
    display: block;
    float: left;
    margin-left: 4rem;
    padding: 1rem 6rem;
    margin-bottom: 5rem;
    font-weight: bold;
    background-color: #bdc0c6;
    border: none;
    border-radius: 5px;
}

.btn-s {
    display: block;
    float: right;
    margin-right: 4rem;
    padding: 1rem 6rem;
    margin-bottom: 5rem;
    font-weight: bold;
    background-color: #5e9af2;
    border: none;
    border-radius: 5px;
}

fieldset .reg {
    font-size: 15px;
    text-align: center;
    margin-bottom: 1rem;
}

fieldset label {
    margin-left: 5rem;
}

.error {
    font-size: 17px;
    color: red;
}